<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:amazon="http://schemas.android.com/apk/lib/com.amazon.device.ads" xmlns:rim="http://www.blackberry.com/ns/widgets" id="cordova-push-notifications" version="1.1.1">

  <name>Push Notifications Plugin</name>
  <author email="info@appfeel.com" href="https://github.com/appfeel/admob-google-cordova">AppFeel</author>

  <description>
    This plugin allows your application to receive push notifications on Android, iOS, WP8 and Windows8 devices. Android uses Google Cloud Messaging. iOS uses Apple APNS Notifications. WP8 uses Microsoft MPNS Notifications. Windows8 uses Microsoft WNS Notifications.
  </description>

  <license>MIT</license>
  
  <hook type="after_prepare" src="hooks/after_prepare/999-admobPluginNotice.js" />

  <js-module src="www/PushNotification.js" name="PushNotification">
    <clobbers target="PushNotification" />
  </js-module>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>


  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="PushPlugin">
        <param name="ios-package" value="PushPlugin" />
      </feature>
    </config-file>

    <source-file src="src/ios/AppDelegate+notification.m" />
    <source-file src="src/ios/PushPlugin.m" />

    <header-file src="src/ios/AppDelegate+notification.h" />
    <header-file src="src/ios/PushPlugin.h" />

  </platform>


</plugin>
